<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>formtest</display-name>
  
    <filter>
     <filter-name>encodingFilter</filter-name>
     <filter-class>com.action.CodeFilter</filter-class>
     <init-param>
       <param-name>codestr</param-name>
       <param-value>UTF-8</param-value>
     </init-param>
    </filter>
  
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AjaxAction</servlet-name>
    <servlet-class>com.action.AjaxAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BasicAction</servlet-name>
    <servlet-class>com.action.BasicAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DataAction</servlet-name>
    <servlet-class>com.action.DataAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelAction</servlet-name>
    <servlet-class>com.action.DelAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TreeAction</servlet-name>
    <servlet-class>com.action.TreeAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>com.action.UserAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FormAction</servlet-name>
    <servlet-class>com.action.FormAction</servlet-class>
  </servlet>



 
  
  <servlet-mapping>
    <servlet-name>AjaxAction</servlet-name>
    <url-pattern>/AjaxAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BasicAction</servlet-name>
    <url-pattern>/BasicAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataAction</servlet-name>
    <url-pattern>/DataAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelAction</servlet-name>
    <url-pattern>/DelAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TreeAction</servlet-name>
    <url-pattern>/TreeAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/UserAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormAction</servlet-name>
    <url-pattern>/FormAction</url-pattern>
  </servlet-mapping>
 
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>